<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__box">
      <div class="advantages__content">
        <h2 class="title advantages__title">Cabin Activities</h2>
        <p class="description advantages__description">
          Don’t worry to get bored easily in our cabin. We have so many cabin
          activities for you to do it alone or with group. Maybe this is the
          best chance for you to make new friends or even a lover.
        </p>
      </div>
      <img src="img/advantages-1.jpg" alt="Advantage" class="advantages__img" />
    </div>
    <div class="advantages__box advantages__box--reverse">
      <div class="advantages__content">
        <h2 class="title advantages__title">100% Organic Food</h2>
        <p class="description advantages__description">
          We served 100% organic, low process and delicious food. We allow our
          guest to have breakfast or dinner request.What ever made your taste
          buds happy.
        </p>
      </div>
      <img src="img/advantages-2.jpg" alt="Advantage" class="advantages__img" />
    </div>
  </div>
</section>
