<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo">Cootels</a>
    <nav class="menu header__menu" data-menu >
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link">Rooms</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Reservation</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Contacs</a></li>
      </ul>
    </nav>
    <button class="btn-reset btn header__btn">Get Started</button>
    <button class="burger" aria-label="Открыть меню" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
