<section class="hotel">
  <div class="container hotel__container">
    <img src="img/hotel.jpg" alt="Hotel" class="hotel__img" />
    <div class="hotel__content">
      <h2 class="title hotel__title">
        Cozy and Down to Earth Cootage Hotel in Norway.
      </h2>
      <p class="description hotel__description">
        Our Cootage Hotel is an intimate hideway concieved for dicerning
        travelers. It faces directly the unique and spectacular panorama of the
        Hallerbos Jungle.
      </p>
      <p class="description hotel__description">
        Cootels extends along a private, quiet, and beautiful nature. Stay away
        from crowd and enjoy the cozy and beauty with us.
      </p>
      <a href="#" class="hotel__btn btn">Learn More</a>
    </div>
  </div>
</section>
