<section class="rooms">
  <div class="container">
    <h2 class="title title--center rooms__title">Many Rooms to Choose</h2>
    <p class="description description--center rooms__description">
      There is a room for every needs. We have room for individuals until family
      size, we also have a cabin for more private experience
    </p>
    <a href="#" class="btn btn--center rooms__btn">Explore more</a>
    <div class="rooms__inner">
      <div class="box rooms__box">
        <img src="img/rooms-1.jpg" alt="Rooms" class="box__img" />
        <h3 class="box__title">Single Room</h3>
        <p class="box__description">
          Best for a brave lone wolf who need comfort and quiet quality time,
          but you still have a chance to meet others.
        </p>
        <a href="#" class="box__link">Learn more</a>
      </div>
      <div class="box rooms__box">
        <img src="img/rooms-2.jpg" alt="Rooms" class="box__img" />
        <h3 class="box__title">Double Room</h3>
        <p class="box__description">
          Best for couple, seek happiness in intimacy without worry of being
          disturbed. Feel the whole world just for you two
        </p>
        <a href="#" class="box__link">Learn more</a>
      </div>
      <div class="box rooms__box">
        <img src="img/rooms-3.jpg" alt="Rooms" class="box__img" />
        <h3 class="box__title">Cootage</h3>
        <p class="box__description">
          Best for family or group. One cootage can fit up to 5 people. Made
          stronger bond with your family or friends
        </p>
        <a href="#" class="box__link">Learn more</a>
      </div>
    </div>
  </div>
</section>
